@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

/*Header css*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-user-select: none; /* Safari */
  user-select: none;
  border-bottom: 1px solid gray;
}

.logo {
  display: flex;
  flex-direction: row;
}
.logo .logo-img {
  padding: 12px;
  height: 50px;
  position: relative;
  top: 0px;
  cursor: pointer;
}

.logo .logo-name {
  font-family: 'Protest Riot', sans-serif;
  cursor: pointer;
}
.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  justify-content: end;
  margin: 5px;
  padding: 5px;
  display: flex;
  cursor: pointer;
}
.nav-items li {
  font-size: 21px;
}

/*Container css*/
.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-height: 65vh;
}
.search {
  padding: 10px;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  min-height: 30px;
  justify-content: center;
}
.search .search-box {
  min-height: 30px;
  padding: 5px 5px 5px 10px;
  font-size: 20px;
}
.search-btn {
  height: 45px;
  width: 10vw;
}
/*Filter btn*/
.filter-btn {
  margin: 20px 70px;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Card css*/
.course-card {
  width: min-content;
  height: 300px;
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}
.course-card:hover {
  border: 2px solid rgb(46, 43, 43);
}
.card-img {
  width: 190px;
  margin: auto;
}

/*Footer css*/

.footer {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}
.footer .footer-items > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer .footer-items > ul > li {
  margin: 23px;
  cursor: pointer;
}
.copyright {
  display: flex;
  justify-content: center;
}

/* Shimmer */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-card {
  margin: 20px;
  width: 170px;
  background: #f0f0f0;
  height: 300px;
  padding: 10px;
  cursor: pointer;
}

/* USer -About Us*/

.user-card {
  border: 1px solid gray;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
